{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-2">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseExample">
            Show/Hide Search
            </button>
        </div>
        <div class="col-10">
            <h2 class="text-center">
                R-BCR Workflow
            </h2>
        </div>
    </div>
    <div class="collapse show" id="collapseSearch">
        <div class="container-fluid">
            <form action="" method="get" id="formSearch">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="row g-5 align-items-center" style="padding:1px">
                        <div class="col-2" style="text-align:right">
                            <label for="txtCriteriaDateFrom" class="col-form-label">Date from:</label>
                        </div>
                        <div class="col-2">
                            <input type="date" class="form-control" name="txtCriteriaDateFrom" id="txtCriteriaDateFrom" value="{{ criteriaDateFrom|date:'Y-m-d' }}">
                        </div>
                        <div class="col-2" style="text-align:right">
                            <label for="txtCriteriaDateTo" class="col-form-label">Date to:</label>
                        </div>
                        <div class="col-2">
                            <input type="date" class="form-control" name="txtCriteriaDateTo" id="txtCriteriaDateTo" value="{{ criteriaDateTo|date:'Y-m-d' }}">
                        </div>
                        <div class="col-2" style="text-align:right">
                            <label for="ddlCriteriaStatus" class="col-form-label">Status:</label>
                        </div>
                        <div class="col-2">
                            <select class="form-select" name="ddlCriteriaStatus" id="ddlCriteriaStatus">
{#                                  The status of "not final" is a special criteria that is the default #}
{#                                  search criteria i.e. all reports not finalised.  #}
                                <option value="NOTFINAL" {% if criteriaReportStatus == "" %} selected="selected" {% endif %}>Not Final</option>
                                <option value="NOTFINALORNONE" {% if criteriaReportStatus == "NOTFINALORNONE" %} selected="selected" {% endif %}>Written</option>
                                <option value="NONE" {% if criteriaReportStatus == "NONE" %} selected="selected" {% endif %}>None</option>
                                {% if criteriaReportStatuses %}
                                    {% for item in criteriaReportStatuses %}
                                        <option value="{{ item.REPORT_STATUS }}" {% if item.REPORT_STATUS == criteriaReportStatus %} selected="selected" {% endif %}>{{ item.REPORT_STATUS }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="row g-5 align-items-center" style="padding:1px">
                        <div class="col-2" style="text-align:right">
                            <label for="txtCriteriaLabnumber" class="col-form-label">Lab number:</label>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" name="txtCriteriaLabnumber" id="txtCriteriaLabnumber" {% if criteriaLabnumber != "" %} value="{{ criteriaLabnumber }}" {% endif %}>
                        </div>
                        <div class="col-2" style="text-align:right">
                            <label for="txtCriteriaLastname" class="col-form-label">Surname:</label>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" name="txtCriteriaLastname" id="txtCriteriaLastname" list="listOfSurnames" {% if criteriaSurname != "" %} value="{{ criteriaSurname }}" {% endif %}>
                            <datalist id="listOfSurnames">
                                {% for item in criteriaSurnames %}
                                    <option value="{{ item }}" />
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-2" style="text-align:right">
                            <label for="ddlCriteriaPriority" class="col-form-label">Priority:</label>
                        </div>
                        <div class="col-2">
                            <select class="form-select" name="ddlCriteriaPriority" id="ddlCriteriaPriority">
                                <option value="" {% if criteriaPriority == "" %} selected="selected" {% endif %}>select...</option>
                                {% if criteriaPriorities %}
                                    {% for item in criteriaPriorities %}
                                        <option value="{{ item.PRIORITY }}" {% if item.PRIORITY == criteriaPriority %} selected="selected" {% endif %}>{{ item.PRIORITY }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="row g-5 align-items-center" style="padding:5px">
                        <div class="col-2 bg-light" style="text-align:right">
                            <label for="ddlCriteriaDiseaseIndication1" class="col-form-label">Indication(s):</label>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaDiseaseIndication1" id="ddlCriteriaDiseaseIndication1">
                                <option value="" {% if criteriaDiseaseIndication1 == "" %} selected="selected" {% endif %}>select...</option>
                                {% for item in criteriaDiseaseIndications %}
                                    <option value="{{ item.DISEASE_CODE }}" {% if item.DISEASE_CODE == criteriaDiseaseIndication1 %} selected="selected" {% endif %}>
                                        {{ item.DISEASE_CODE }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaDiseaseIndication2" id="ddlCriteriaDiseaseIndication2">
                                <option value="" {% if criteriaDiseaseIndication2 == "" %} selected="selected" {% endif %}>select...</option>
                                {% for item in criteriaDiseaseIndications %}
                                    <option value="{{ item.DISEASE_CODE }}" {% if item.DISEASE_CODE == criteriaDiseaseIndication2 %} selected="selected" {% endif %}>
                                        {{ item.DISEASE_CODE }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaDiseaseIndication3" id="ddlCriteriaDiseaseIndication3">
                                <option value="" {% if criteriaDiseaseIndication3 == "" %} selected="selected" {% endif %}>select...</option>
                                {% for item in criteriaDiseaseIndications %}
                                    <option value="{{ item.DISEASE_CODE }}" {% if item.DISEASE_CODE == criteriaDiseaseIndication3 %} selected="selected" {% endif %}>
                                        {{ item.DISEASE_CODE }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row g-5 align-items-center" style="padding:5px">
                        <div class="col-2 bg-light" style="text-align:right">
                            <label for="ddlCriteriaReasonForDiseaseIndication1" class="col-form-label">Reason(s):</label>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaReasonForDiseaseIndication1" id="ddlCriteriaReasonForDiseaseIndication1">
                                <option value="" {% if criteriaReasonForDiseaseIndication1 == "" %} selected="selected" {% endif %}>select...</option>
                                {% if criteriaReasonsForDiseaseIndications %}
                                    {% for item in criteriaReasonsForDiseaseIndications %}
                                        <option value="{{ item.REASON_CODE }}" {% if item.REASON_CODE == criteriaReasonForDiseaseIndication1 %} selected="selected" {% endif %}>{{ item.REASON_CODE }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaReasonForDiseaseIndication2" id="ddlCriteriaReasonForDiseaseIndication2">
                                <option value="" {% if criteriaReasonForDiseaseIndication2 == "" %} selected="selected" {% endif %}>select...</option>
                                {% if criteriaReasonsForDiseaseIndications %}
                                    {% for item in criteriaReasonsForDiseaseIndications %}
                                        <option value="{{ item.REASON_CODE }}" {% if item.REASON_CODE == criteriaReasonForDiseaseIndication2 %} selected="selected" {% endif %}>{{ item.REASON_CODE }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-2 bg-light">
                            <select class="form-select" name="ddlCriteriaReasonForDiseaseIndication3" id="ddlCriteriaReasonForDiseaseIndication3">
                                <option value="" {% if criteriaReasonForDiseaseIndication3 == "" %} selected="selected" {% endif %}>select...</option>
                                {% if criteriaReasonsForDiseaseIndications %}
                                    {% for item in criteriaReasonsForDiseaseIndications %}
                                        <option value="{{ item.REASON_CODE }}" {% if item.REASON_CODE == criteriaReasonForDiseaseIndication3 %} selected="selected" {% endif %}>{{ item.REASON_CODE }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-2">
                            &nbsp;
                        </div>
                        <div class="col-2">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row g-5 align-items-center" style="padding:1px">
                        <div class="col-2" style="text-align:right">
                            <label for="ddlCriteriaNoResult" class="col-form-label">Workflow:</label>
                            <input type="hidden" id="txtPageNumber" name="txtPageNumber">
                        </div>
                        <div class="col-2">
                            <select class="form-select" name="ddlCriteriaNoResult" id="ddlCriteriaNoResult">
                                <option value="0" {% if criteriaNoResult == 0 %} selected="selected" {% endif %}>select...</option>
                                <option value="1" {% if criteriaNoResult == 1 %} selected="selected" {% endif %}>No test</option>
                                <option value="2" {% if criteriaNoResult == 2 %} selected="selected" {% endif %}>No wksheet</option>
                                <option value="3" {% if criteriaNoResult == 3 %} selected="selected" {% endif %}>No result</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="ddlCriteriaItemsPerPage" class="col-form-label">Items per page:</label>
                        </div>
                        <div class="col-1" style="padding-right: unset">  {# Unset to make select control wide enough #}
                            <select class="form-select" name="ddlCriteriaItemsPerPage" id="ddlCriteriaItemsPerPage">
                                <option value="20" {% if itemsPerPage == 20 %} selected="selected" {% endif %}>20</option>
                                <option value="40" {% if itemsPerPage == 40 %} selected="selected" {% endif %}>40</option>
                                <option value="50" {% if itemsPerPage == 50 %} selected="selected" {% endif %}>50</option>
                                <option value="100" {% if itemsPerPage == 100 %} selected="selected" {% endif %}>100</option>
                                <option value="-1" {% if itemsPerPage == -1 %} selected="selected" {% endif %}>ALL</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <input type="submit" value="Search" name="btnSubmit" id="btnSubmit" class="btn btn-primary">
                        </div>
                        <div class="col-2" style="text-align:right">
                            Cases found : {{ searchCount }}
                        </div>
                        <div class="col-2" style="text-align:right">
                            Page {{ workflowCases.number }} of {{ workflowCases.paginator.num_pages }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if errorMessage %}
        <div class="alert alert-danger text-center mb-3" role="alert">
            {{ errorMessage }}
        </div>
    {% endif %}
    <div class="container-fluid">
        <table class="table table-bordered" Id="ResultsTable">
            <thead class="bg-primary" style="color:white">
                <th onClick="sortTable(0)" style="cursor: pointer;">
                    Claim
                </th>
                <th scope="col" onClick="sortTable(1)" style="cursor: pointer;">
                    Patient (Date deceased)
                </th>
                <th scope="col" onClick="sortTable(2)" style="cursor: pointer;">
                    Lab Number
                </th>
                <th scope="col" onClick="sortTable(3)" style="cursor: pointer;">
                    Indication / Reason
                </th>
                <th scope="col" onClick="sortTable(4)" style="cursor: pointer;">
                    Sample type
                </th>
                <th scope="col" onClick="sortTable(5)" style="cursor: pointer;">
                    Priority
                </th>
                <th scope="col" onClick="sortTable(6)" style="cursor: pointer;">
                    Days left
                </th>
                <th scope="col" onClick="sortTable(7)" style="cursor: pointer;">
                    Alloc to
                </th>
                <th scope="col" onClick="sortTable(8)" style="cursor: pointer;">
                    Key
                </th>
                <th scope="col" onClick="sortTable(9)" style="cursor: pointer;">
                    Date received
                </th>
                <th scope="col" onClick="sortTable(10)" style="cursor: pointer;">
                    Date activated
                </th>
                <th scope="col" onClick="sortTable(11)" style="cursor: pointer;">
                    Date_due
                </th>
                <th scope="col" onClick="sortTable(12)" style="cursor: pointer;">
                    Status
                </th>
                <th scope="col" onClick="sortTable(13)" style="cursor: pointer;">
                    Report by
                </th>
                <th scope="col" onClick="sortTable(14)" style="cursor: pointer;">
                    Wksheet / Result
                </th>
                <th scope="col" onClick="sortTable(15)" style="cursor: pointer;">
                    DNA/Quant
                </th>
                <th scope="col" onClick="sortTable(16)" style="cursor: pointer;">
                    Alert
                </th>
            </thead>
            <tbody>
            {% if workflowCases %}
                {% for item in workflowCases %}
                    <tr>
                        <td>
                            {#<a class="btn btn-primary" href="{% url 'HaemOncSetAllocatedTo' _labNumber=item.LABNO _workflowName='RBCR' %}">&nbsp;</a>#}
                            <button class="btn btn-primary" id="{{item.LABNO}}" onclick="DoClaim(this.id)">&nbsp;</button>
                        </td>
                        {% if item.DECEASED_DATE %}
                        <td>
                            {{ item.LASTNAME }}, {{ item.FIRSTNAME }} ( {{ item.DECEASED_DATE|date:'d-m-Y' }} )
                        </td>
                        {% else %}
                        <td>
                            {{ item.LASTNAME }}, {{ item.FIRSTNAME }}
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'SampleForm'  labNumber=item.LABNO indication=item.DISEASE_CODE %}" target="_blank">{{ item.LABNO }}</a>
                        </td>
                        <td>
                            {{ item.DISEASE_CODE }} /<br>{{ item.REASON }}
                        </td>
                        <td>
                            {{ item.SAMPLETYPE }}
                        </td>
                        {% if item.PRIORITY|upper == "URGENT" %}
                        <td style="color:red; font-weight: bold">
                            {{ item.PRIORITY }}
                        </td>
                        {% else %}
                            {% if item.PRIORITY|upper == "PRIORITY" %}
                            <td style="color:green; font-weight: bold">
                                {{ item.PRIORITY }}
                            </td>
                            {% else %}
                            <td>
                                {{ item.PRIORITY }}
                            </td>
                            {% endif %}
                        {% endif %}
                        <!-- Days Left -->
                        <td style="
                            {% if item.DaysRemaining >= 15 %}
                                background-color: lightgreen; color: black;
                            {% elif item.DaysRemaining >= 8 and item.DaysRemaining <= 14 %}
                                background-color: yellow; color: black;
                            {% else %}
                                background-color: red; color: white;
                            {% endif %}
                        ">
                            {{ item.DaysRemaining }}
                        </td>
                        <td>
                            {{ item.ALLOCATED_TO }}
                        </td>
                        <td>
                            {{ item.REF }}
                        </td>
                        <td>
                            {{ item.DATE_RECEIVED|date:'d-m-Y' }}
                        </td>
                        <td>
                            {{ item.DATE_ACTIVATED|date:'d-m-Y' }}
                        </td>
                        <td>
                            {{ item.TARGET_DATE|date:'d-m-Y'}}
                        </td>
                        {% if item.REPORT_STATUS|upper == "PENDING" %}
                        <td style="color:green; font-weight: bold">
                            {{ item.REPORT_STATUS }}
                        </td>
                        {% else %}
                        <td>
                            {{ item.REPORT_STATUS }}
                        </td>
                        {% endif %}
                        <td>
                            {{ item.REPORT_BY }}
                        </td>
                        {% autoescape off%}
                            <td>
                            {{ item.WORKSHEETS }}
                            </td>
                        {% endautoescape %}
                        <td>
                            {% autoescape off%}
                                {{ item.EXTRACTSHEETS }}
                            {% endautoescape %}
                        </td>
                        <td>
                            {{ item.SampleAlert|default:"None" }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        No records to display
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- First and Previous Page Links -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&{{ base_query_string }}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ base_query_string }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">First</span></li>
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}

                <!-- Current Page Indicator -->
                <li class="page-item active">
                    <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>

                <!-- Next and Last Page Links -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ base_query_string }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ base_query_string }}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                    <li class="page-item disabled"><span class="page-link">Last</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<script>
    window.onload = function() {
    var txtCriteriaDateFrom = document.getElementById('txtCriteriaDateFrom');
    var txtCriteriaDateTo = document.getElementById('txtCriteriaDateTo');

    if (!txtCriteriaDateFrom.value) {
        var today = new Date();
        var fiveMonthsAgo = new Date();
        fiveMonthsAgo.setMonth(today.getMonth() - 5);
        if (today.getDate() !== fiveMonthsAgo.getDate()) {
            fiveMonthsAgo.setDate(0);
        }
        txtCriteriaDateFrom.value = fiveMonthsAgo.toISOString().split('T')[0];
    }

    if (!txtCriteriaDateTo.value) {
        var twoMonthsFromNow = new Date();
        twoMonthsFromNow.setMonth(new Date().getMonth() + 2);
        txtCriteriaDateTo.value = twoMonthsFromNow.toISOString().split('T')[0];
    }
};
</script>
<script>
    function sortTable(columnIndex) {
        const table = document.getElementById("ResultsTable");
        const tbody = table.querySelector("tbody");
        const rows = Array.from(tbody.querySelectorAll("tr"));

        // Determine sort direction: ascending or descending
        const isAscending = table.dataset.sortOrder !== "asc";
        table.dataset.sortOrder = isAscending ? "asc" : "desc";

        // Sort rows based on the content of the clicked column
        rows.sort((rowA, rowB) => {
            const cellA = rowA.cells[columnIndex].innerText.trim().toLowerCase();
            const cellB = rowB.cells[columnIndex].innerText.trim().toLowerCase();

            if (!isNaN(cellA) && !isNaN(cellB)) {
                // Numeric sorting
                return isAscending ? cellA - cellB : cellB - cellA;
            } else {
                // String sorting
                return isAscending
                    ? cellA.localeCompare(cellB)
                    : cellB.localeCompare(cellA);
            }
        });

        // Re-attach rows to the tbody in the new sorted order
        rows.forEach(row => tbody.appendChild(row));
    }
</script>
{% endblock content %}