{% extends 'base.html' %}
{% block content %}
<body>
    {% include 'StandardMenu.html' %}
    <div class="container mb-3">
        <div class="row mb-3">
            <div class="col-2">
                <a class="btn btn-primary" href="{% url backURL %}">Return to Search</a>
            </div>
            <div class="col-10">
                <h2 class="text-center">
                    Information screen for sample {{ labNumber }}
                </h2>
            </div>
        </div>
        <div class="mb-3">
            &nbsp;
        </div>
        <div class="row g-5 mb-3">
            <div class="col-2">
                &nbsp;
            </div>
            <div class="col-2 border border-dark">
                Alert:
            </div>
            <div class="col-5 border border-dark">
                {{ sampleItem.SAMPLE_SPECIAL_PROMPT }}
            </div>
            <div class="col-3">
                &nbsp;
            </div>
        </div>
        <div class="mb-3">
            &nbsp;
        </div>
    </div>
    {% if errorMessage %}
        <div class="alert alert-danger text-center mb-3" role="alert">
            {{ errorMessage }}
        </div>
    {% endif %}
    <div class="container">
        <div class="ms-3 mb-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIndicationTable" aria-expanded="false" aria-controls="collapseExample">
            Indication / Reason / Bill / Target
            </button>
        </div>
        <div class="collapse show" id="collapseIndicationTable">
            <div class="container-fluid">
                <table class="table table-bordered">
                    <thead class="bg-primary" style="color:white">
                        <th scope="col">
                            Indication
                        </th>
                        <th scope="col">
                            Reason
                        </th>
                        <th scope="col">
                            Bill code
                        </th>
                        <th scope="col">
                            Days left
                        </th>
                        <th scope="col">
                            Key
                        </th>
                        <th scope="col">
                            Date activated
                        </th>
                        <th scope="col">
                            Date due
                        </th>
                        <th scope="col">
                            Status
                        </th>
                        <th scope="col">
                            Report by
                        </th>
                    </thead>
                    <tbody>
                        {% if indicationReportBills %}
                            {% for item in indicationReportBills %}
                                <tr>
                                    <td>
                                        {{ item.INDICATION }}
                                    </td>
                                    <td>
                                        {{ item.REASON }}
                                    </td>
                                    <td>
                                        {{ item.BILL_CODE }}
                                    </td>
                                    {% if item.DaysRemaining == -99999 %}
                                    <td style="background-color: red; color: white">
                                        No target date
                                    </td>
                                    {% else %}
                                    <td>
                                        {{ item.DaysRemaining }}
                                    </td>
                                    {% endif %}
                                    <td>
                                        {{ item.REF }}
                                    </td>
                                    <td>
                                        {{ item.DATE_ACTIVATED|date:'d-m-Y' }}
                                    </td>
                                    <td>
                                        {{ item.TARGET_DATE|date:'d-m-Y'}}
                                    </td>
                                    <td>
                                        {{ item.REPORT_STATUS }}
                                    </td>
                                    <td>
                                        {{ item.REPORT_BY }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    There are no indications
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ms-3 mb-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorksheetTable" aria-expanded="false" aria-controls="collapseExample">
            Worksheets / Test results
            </button>
        </div>
        <div class="collapse show" id="collapseWorksheetTable">
            <div class="container-fluid">
                <table class="table table-bordered">
                    <thead class="bg-primary" style="color:white">
                        <th scope="col">
                            Worksheet
                        </th>
                        <th scope="col">
                            Test
                        </th>
                        <th scope="col">
                            Result
                        </th>
                        <th scope="col">
                            Value 1
                        </th>
                    </thead>
                    <tbody>
                        {% if worksheetResults %}
                            {% for item in worksheetResults %}
                                <tr>
                                    <td>
                                        {{ item.WORKSHEET }}
                                    </td>
                                    <td>
                                        {{ item.TEST }}
                                    </td>
                                    <td>
                                        {{ item.RESULT }}
                                    </td>
                                    <td>
                                        {{ item.VALUE1 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>
                                    There are no worksheets / results
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content %}