{% load static %}
<head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

</head>
<div class="container-fluid mb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WMRGL</a>
            {# The following button is the standard three bar menu icon that appears when screen is small #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'StartPage' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HaemOnc
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="small text-muted">Haemato-oncology</li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMolecularSearch' %}">All Molecular</a>
                            <li><a class="dropdown-item" href="{% url 'HaemOncALLSearch' %}">ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBreakSearch' %}">BREAK</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRAMLSearch' %}">R-AML</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncCLLSearch' %}">Lymphoid</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncDAMLSearch' %}">AML & MDS</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBMTSearch' %}">BMT</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMPNSearch' %}">MPN</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRBCRSearch' %}">R-BCR</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncFALSearch' %}">F-AML/F-ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncSNPSearch' %}">SNP - Array analysis</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncPanHaemSearch' %}">GLH Pan Haem</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRNASearch' %}">RNA Sequencing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Solid Cancer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#<li class="small text-muted">Cancer</li>#}
                            <li><a class="dropdown-item" href="{% url 'WGSSearch' %}">WGS</a></li>
                            <li><a class="dropdown-item" href="{% url 'SCSearch' %}">Solid Cancer</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HaemOnc Cyto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-menu">All Cyto</a></li>
                            <li><a class="dropdown-menu">All G-Band</a></li>
                            <li><a class="dropdown-menu">All FISH</a></li>
                            <li><a class="dropdown-menu">Rapid G-Band</a></li>
                            <li><a class="dropdown-menu">Myeloid</a></li>
                            <li><a class="dropdown-menu">Lymphoid</a></li>
                            <li><a class="dropdown-menu">Breakage</a></li>
                        </ul>
                    </li>-->
                </ul>
                <ul>
                <!-- Button for dark mode toggle -->
                <!--<div class="toggle-container">
                    <input type="checkbox" id="dark-mode-toggle" class="toggle-checkbox">
                    <label for="dark-mode-toggle" class="toggle-label">
                        <span class="toggle-moon">🌙</span>
                        <span class="toggle-sun">☀️</span>
                    </label>
                </div>-->
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'LogoutSystem' %}">Logout</a>
                    </li>

                </ul>
                {% endif %}
            </div>
            <!-- Settings Button -->
            <button id="settings-btn" class="settings-btn">Settings</button>

            <!-- Font Size Modal -->
            <div id="font-size-modal" class="font-size-modal" style="display: none;">
                <div class="font-size-content">
                    <span class="close">&times;</span>
                    <h2>Font Settings</h2>
                    <button class="font-size-option" onclick="changeFontSize('small')">Small</button>
                    <button class="font-size-option" onclick="changeFontSize('medium')">Medium</button>
                    <button class="font-size-option" onclick="changeFontSize('large')">Large</button>
                    <select id="font-style-select">
                        <option value="Arial">Arial</option>
                        <!--<option value="Dyslexic">Dyslexic</option>-->
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Courier New">Courier New</option>
                    </select>
                    <button onclick="changeFontStyle()">Apply</button>
                </div>
            </div>
        </div>
    </nav>
</div>
<script src="{%   static 'Scripts.js' %}"></script>
<script>

    $(document).ready(function(){
        // Initialize DataTables
        $('#ResultsTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "pageLength": 20,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "ALL"]],
            "language": {
                "paginate": {
                    "previous": "&lt;",
                    "next": "&gt;"
                }
            },
            "initComplete": function(settings, json) {
                // Force custom header color after DataTables has rendered
                $('#ResultsTable thead th').css({
                    'background-color': '#007bff', // Force blue
                    'color': 'white',              // Force white text
                    'border-bottom': '2px solid black' // Force black border
                });
            }
        });
    });



</script>
