{% load static %}
<head>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="container-fluid mb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WMGL</a>
            {# The following button is the standard three bar menu icon that appears when screen is small #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'StartPage' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HaemOnc
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="small text-muted">Haemato-oncology</li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMolecularSearch' %}">All Molecular</a>
                            <li><a class="dropdown-item" href="{% url 'HaemOncALLSearch' %}">ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBreakSearch' %}">BREAK</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRAMLSearch' %}">R-AML</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncCLLSearch' %}">Lymphoid</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncDAMLSearch' %}">AML & MDS</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBMTSearch' %}">BMT</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMPNSearch' %}">MPN</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRBCRSearch' %}">R-BCR</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncFALSearch' %}">F-AML/F-ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncSNPSearch' %}">SNP - Array analysis</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncPanHaemSearch' %}">GLH Pan Haem</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRNASearch' %}">RNA Sequencing</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Solid Cancer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#<li class="small text-muted">Cancer</li>#}
                            <li><a class="dropdown-item" href="{% url 'WGSSearch' %}">WGS</a></li>
                            <li><a class="dropdown-item" href="{% url 'SCSearch' %}">Solid Cancer</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Cyto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#<li class="small text-muted">Cyto</li>#}
                            <li><a class="dropdown-item" href="{% url 'HaemOncCytoSearch' %}">Cyto</a></li>

                        </ul>
                    </li>-->
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HaemOnc Cyto
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-menu">All Cyto</a></li>
                            <li><a class="dropdown-menu">All G-Band</a></li>
                            <li><a class="dropdown-menu">All FISH</a></li>
                            <li><a class="dropdown-menu">Rapid G-Band</a></li>
                            <li><a class="dropdown-menu">Myeloid</a></li>
                            <li><a class="dropdown-menu">Lymphoid</a></li>
                            <li><a class="dropdown-menu">Breakage</a></li>
                        </ul>
                    </li>-->
                </ul>
                <ul>
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'LogoutSystem' %}">Logout</a>
                    </li>

                </ul>
                {% endif %}
            </div>
            <!-- Settings Button -->
            <button id="settings-btn" class="settings-btn">Settings</button>

            <!-- Font Size Modal -->
            <div id="font-size-modal" class="font-size-modal" style="display: none;">
                <div class="font-size-content">
                    <span class="close">&times;</span>
                    <h2>Font Settings</h2>
                    <button class="font-size-option" onclick="changeFontSize('small')">Small</button>
                    <button class="font-size-option" onclick="changeFontSize('medium')">Medium</button>
                    <button class="font-size-option" onclick="changeFontSize('large')">Large</button>
                    <select id="font-style-select">
                        <option value="Arial">Arial</option>
                        <!--<option value="Dyslexic">Dyslexic</option>-->
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Courier New">Courier New</option>
                    </select>
                    <button onclick="changeFontStyle()">Apply</button>
                </div>
            </div>
        </div>
    </nav>
    <footer class="text-muted text-center mt-4" style="font-size: 0.75rem;">
    Version 30
    </footer>
</div>
<script src="{%   static 'Scripts.js' %}"></script>
<script>
    // Ensure this script runs after the DOM is loaded
    document.addEventListener("DOMContentLoaded", function () {
        const btn = document.getElementById("settings-btn");
        const modal = document.getElementById("font-size-modal");
        const closeBtn = document.querySelector(".close");

        // Open the modal when the settings button is clicked
        btn.addEventListener("click", function () {
            modal.style.display = "block";
        });

        // Close the modal when the close button is clicked
        closeBtn.addEventListener("click", function () {
            modal.style.display = "none";
        });

        // Close the modal when clicking outside of it
        window.addEventListener("click", function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    });

    function changeFontSize(size) {
        document.body.style.fontSize = {
            small: '12px',
            medium: '16px',
            large: '20px'
        }[size];
        localStorage.setItem('preferredFontSize', size);
        document.getElementById("font-size-modal").style.display = "none";
    }

    function changeFontStyle() {
        const selectedFont = document.getElementById('font-style-select').value;
        document.documentElement.style.setProperty('--font-family', selectedFont);
        localStorage.setItem('selectedFontStyle', selectedFont);
    }
</script>