<style>
    .navbar .dropdown-menu {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
    }

    /* This CSS will expand the dropdown menu when the 'show' class is added  - MW*/
    .navbar .dropdown:hover .dropdown-menu {
        opacity: 1;
        max-height: 550px; 
        transform: translateY(0);
    }

    /* Apply to all buttons - MW*/
    button {
        border-radius: 8px; /* Adjust as needed - MW*/
    }

    /* Apply to the navbar - MW*/
    .navbar {
        border-radius: 8px; /* Adjust as needed - MW*/
    }

    /* Apply to dropdown menus - MW*/
    .dropdown-menu {
        border-radius: 8px; /* Adjust as needed - MW*/
    }

    /* Apply to all divs with a specific class - MW*/
    .div-class {
        border-radius: 8px; /* Adjust as needed - MW*/
    }

    /* Apply to input fields - MW*/
    input[type="text"], input[type="email"], textarea {
        border-radius: 8px; /* Adjust as needed - MW*/
    }

</style>

{#{% load static %} - note: Logo is not currently used, so this line serves no purpose#}
<div class="container-fluid mb-3">
{# Note the use of the d- CSS below to hide the logo when the screen is small #}
{# Both d-none and d-sm-none are required, not just d-sm-none as the documentation indicates #}
{#        <div class="text-centre d-none d-sm-none d-md-block p-3">#}
{#            <a href="https://bwc.nhs.uk/">#}
{#                <img src={% static 'BWCLogo.png' %}>#}
{#            </a>#}
{#        </div>#}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WMRGL</a>
            {# The following button is the standard three bar menu icon that appears when screen is small #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'StartPage' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            HaemOnc
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="small text-muted">Haemato-oncology</li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMolecularSearch' %}">All Molecular</a>
                            <li><a class="dropdown-item" href="{% url 'HaemOncALLSearch' %}">ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBreakSearch' %}">BREAK</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRAMLSearch' %}">R-AML</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncCLLSearch' %}">Lymphoid</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncDAMLSearch' %}">AML & MDS</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncBMTSearch' %}">BMT</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncMPNSearch' %}">MPN</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRBCRSearch' %}">R-BCR</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncFALSearch' %}">F-AML/F-ALL</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncSNPSearch' %}">SNP - Array analysis</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncPanHaemSearch' %}">GLH Pan Haem</a></li>
                            <li><a class="dropdown-item" href="{% url 'HaemOncRNASearch' %}">RNA Sequencing</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="small text-muted">Cancer</li>
                            <li><a class="dropdown-item" href="{% url 'WGSSearch' %}">WGS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cancer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#<li class="small text-muted">Cancer</li>#}
                            <li><a class="dropdown-item" href="{% url 'WGSSearch' %}">WGS</a></li>
                            <li><a class="dropdown-item" href="{% url 'SCSearch' %}">Solid Cancer</a></li>
                        </ul>
                    </li>
                    {#Below is the menu structure for Cyto, which may be added at a later date#}
                    {#<li class="nav-item dropdown">#}
                    {#    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCyto" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
                    {#        Cytogenetics#}
                    {#    </a>#}
                    {#    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCyto">#}
                    {#        <li><a class="dropdown-item" href="#">Placeholder</a></li>#}
                    {#    </ul>#}
                    {#</li>#}
                </ul>
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'LogoutSystem' %}">Logout</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dropdowns = document.querySelectorAll('.navbar .dropdown');
    
        dropdowns.forEach(function(dropdown) {
            dropdown.addEventListener('mouseenter', function() {
                var menu = this.querySelector('.dropdown-menu');
                menu.classList.remove('show'); // Reset the animation - MW
                setTimeout(function() { // Reapply the class after a short delay - MW
                    menu.classList.add('show');
                }, 10);
            });
    
            dropdown.addEventListener('mouseleave', function() {
                this.querySelector('.dropdown-menu').classList.remove('show');
            });
        });
    });
</script>
<script type="text/javascript">
    window.addEventListener("beforeunload", function (e) {
        navigator.sendBeacon('/logout/');

        // Uncomment the following line to show a confirmation dialog
            //e.preventDefault();
            //e.returnValue = '';
    });
</script>